@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Prepojenie s databázov sa nachádza pod Jokes kartou.</a>.</p>
    <p>Pri prvom otvoreni je potrebná migrácia a následne obnovenie stránky.</p>
    <p>Taktiež pri registrácii je potrebné migrovať databázu.</p>
    <p>Pre normálne fungovanie nie je potrebná registrácia.</p>
</div>
